{% extends "base.html" %}
{% block content %}

<div class="bg">

    {% if deleteMessage %}
    <div class="alert alert-info"  style="text-shadow: none" data-dismiss="alert">
        <span class="glyphicon glyphicon-trash"></span> {{deleteMessage}}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            <h2 style="font-family: sans-serif">Kommenttien ylläpitosivut</h2>      
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center" style="font-size: 16px">Kaikki kommentit</h4>
            <table class="table table-striped table-bordered bg-success">
                <thead>
                    <tr>
                        <th>Käyttäjä</th>
                        <th>Kommentti</th>
                        <th>Poista</th>
                    </tr>
                </thead>
                <tbody style="text-shadow: none">
                    {% for kommentti in kommentit %}
                    <tr>
                        <td>{{kommentti.kayttajatunnus}}</a></td>
                        <td style="font-family: monospace">{{kommentti.teksti}}</a></td>
                        <td>
                            <form class="destroy-form" 
                                  data-confirm="Haluatko varmasti poistaa kommentin: {{kommentti.teksti}}?"
                                  method="post" action="{{base_path}}/comment/destroymaintenance/{{kommentti.kayttajaid}}/{{kommentti.leffaid}}">
                                <button class="btn btn-danger" type="submit">Poista</button>
                            </form>
                        </td>  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
