{% extends "base.html" %}
{% block content %}

<h2>Haku</h2>

<div class="row">
    <form>
        <div class="col-md-3">
            <br>
            <br>       
            <div class="form-group">
                <label>Miltä vuosilta</label>
                <div>
                    <input type="number" style="width: 70px" name="alkuvuosi" >
                    <label>-</label>
                    <input type="number" style="width: 70px" name="loppuvuosi">
                </div>

            </div>
            <div class="form-group">
                <label>Maa</label>
                <div class="dropdown">
                    <select class="form-control">
                        <option>...</option>
                        {% for valtio in valtiot%}
                        <option>{{valtio.valtionimi}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>          
            <div class="form-group">
                <label>Genre</label>
                <div class="dropdown">
                    <select class="form-control">
                        <option>...</option>
                        {% for genre in genret%}
                        <option>{{genre.genrenimi}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Palkinto</label>
                <div class="dropdown">
                    <select class="form-control">
                        <option>...</option>
                        {% for palkinto in palkinnot%}
                        <option>{{palkinto.palkintonimi}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Sarja</label>
                <div class="dropdown">
                    <select class="form-control">
                        <option>...</option>
                        {% for sarja in sarjat%}
                        <option>{{sarja.sarjanimi}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>       
        </div>
        <br>
        <div class="col-md-5">
            <br>
            <br>
            <div class="input-group">
                <input type="text" placeholder="hakusana" name="hakusana" style="width: 200px" >
                <div class="input-group-btn">
                    <select class="form-control" style="width: 125px">
                        <option>Elokuvan nimi</option>
                        <option>Näyttelijä</option>
                        <option>Ohjaaja</option>
                        <option>Kuvaaja</option>
                        <option>Käsikirjoittaja</option>
                        <option>Kieli</option>
                    </select>   
                </div>
                <a role="button" class="btn btn-info" >Lisää</a>
            </div>
        </div>
    </form>
    <div class="col-md-4">
        <h4>Hakutulokset</h4>
        <table class="table table-striped table-bordered bg-info">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Maa</th>
                </tr>
            </thead>
            <tbody style="font-family: monospace">
                <tr>
                    <td><a href="{{base_path}}/movie/1">Amores perros</a></td>  
                    <td>Meksiko</td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}