{% extends "base.html" %}
{% block content %}


<div class="bg">

    <form method="post" action="{{base_path}}/countryeditpage/{{valtio.valtioid}}">
        <div class="row">
            <div class="col-md-9"><h2>Valtion {{valtio.valtionimi}} muokkaus</h2></div>
            <div class="col-md-3">
                <a class="btn bg-danger" href="{{base_path}}/country/{{valtio.valtioid}}">Peruuta</a>
                <button class="btn btn-success" type="submit" >Tallenna</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">           
                <div class="form-group">
                    <label>Bio</label>
                    <textarea class="form-group" style="font-family: monospace" id="synopsisteksti" name="valtiobio">{{valtio.valtiobio}}
                    </textarea>
                </div>           
            </div>
            <div class="col-md-6">
                <img style="border-radius: 10px" src="{{base_path}}/images/flags/{{valtio.lippu}}" alt="WIKIPEDIA COMMONS">
            </div>
        </div>
    </form>
</div>

{% endblock %}
