{% extends "base.html" %}
{% block content %}

<div class="col-md-4">
    <h2 style="font-family: sans-serif">Suosikkilistasi</h2>
    <button class="btn bg-success">Lisää elokuvia</button>
    <button class="btn bg-danger">Poista elokuvia</button>

    <br>
    <br>
    <table class="table table-striped table-bordered bg-warning">
        <thead>
            <tr>
                <th>Nimi</th>
            </tr>
        </thead>
        <tbody style="font-family: monospace">
            <tr>
                <td>Amores perros</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="col-md-4" >
    <h2 style="font-family: sans-serif">Katsotut</h2>
    <button class="btn bg-success">Lisää elokuvia</button>
    <button class="btn bg-danger">Poista elokuvia</button>

    <br>
    <br>
    <table class="table table-striped table-bordered bg-success">
        <thead>
            <tr>
                <th>Nimi</th>
            </tr>
        </thead>
        <tbody style="font-family: monospace">
            <tr>
                <td>Amores perros</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-4" >
    <h2 style="font-family: sans-serif">MásTarde</h2>
    <button class="btn bg-success">Lisää elokuvia</button>
    <button class="btn bg-danger">Poista elokuvia</button>

    <br>
    <br>
    <table class="table table-striped table-bordered bg-danger">
        <thead>
            <tr>
                <th>Nimi</th>
            </tr>
        </thead>
        <tbody style="font-family: monospace">
            <tr>
                <td>Hermano</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}