{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-9">
        <h2 style="font-family: sans-serif">Iina</h2>
    </div>

    <div class="col-md-3">
        <button class="btn btn-success">Muokkaa tietojasi</button>
        <button class="btn btn-danger">Poista tili</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="font-family: sans-serif">DVDsi</h2>
        <button class="btn btn-success">Lisää DVD</button>
        <button class="btn btn-danger">Poista DVD</button>

        <br>
        <br>
        <table class="table table-striped table-bordered bg-warning">
            <thead>
                <tr>
                    <th>Nimi</th>
                </tr>
            </thead>
            <tbody style="font-family: monospace">
                <tr>
                    <td>Amores perros</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
