{% extends "basetwo.html" %}
{% block content %}

<div class="kaikki">
    <div class="bg">
        <br>
        <h2 style="text-align: center">Kaikki elokuvat, tekijät ja valtiot</h2>
        <br>
        <div class="row kaikki">
            <div class="col-md-4">
                <label style="text-align: center"><strong>Elokuvat</strong></label>
                <br>
                <ul>
                    {% for elokuva in elokuvat %}
                    <li><a href="{{base_path}}/movie/{{elokuva.leffaid}}">{{elokuva.leffanimi}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <label style="text-align: center"><strong>Tekijät</strong></label>
                <br>
                <ul>
                    {% for artisti in artistit %}
                    <li><a href="{{base_path}}/artist/{{artisti.artistiid}}">{{artisti.etunimi}} {{artisti.sukunimi}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <label style="text-align: center"><strong>Valtiot</strong></label>
                <br>
                <ul>
                    {% for valtio in valtiot %}
                    <li><a href="{{base_path}}/country/{{valtio.valtioid}}">{{valtio.valtionimi}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}
