{% extends "base.html" %}
{% block content %}

{% for artisti in artistit %}
{% for valtio in valtiot %}

<div class="row">
    <div class="col-md-9"><h2>{{artisti.etunimi}} {{artisti.sukunimi}}</h2></div>
    <div class="col-md-3">
        <button class="btn btn-success">Muokkaa</button>
        <button class="btn btn-danger">Poista</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <ul>
            <li><strong>Maa:</strong> <a href="{{base_path}}/country/{{valtio.valtioid}}">{{valtio.valtionimi}}</a></li>
            <li><strong>Syntymävuosi:</strong> {{artisti.syntymavuosi}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <img style="border-radius: 10px" src="{{base_path}}/images/{{artisti.kuva}}" alt="http://upload.wikimedia.org/wikipedia/commons/7/71/Gael_garcia_bernal.jpg">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5>Bio</h5>
        <p id="synopsis">
            {{artisti.bio}}
        </p>
    </div>
    <div class="col-md-6">
        <h5>Elokuvat</h5>
        <ul>
            {% for elokuva in elokuvat %}
            <li><a href="{{base_path}}/movie/{{elokuva.leffaid}}"> {{elokuva.leffanimi}}</a></li>
            {%endfor%}
        </ul>
    </div>
</div>

{%endfor%}
{%endfor%}

{% endblock %}
