{% extends "base.html" %}
{% block content %}

{% for artisti in artistit %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<div class="row">
    <div class="col-md-9"><h2>{{artisti.etunimi}} {{artisti.sukunimi}}</h2></div>
    <div class="col-md-3">
        <a class="btn btn-success" role="button" href="{{base_path}}/artist/edit/{{artisti.artistiid}}" >Muokkaa</a>
        <button class="btn btn-danger">Poista</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <ul>
            <li>{{artisti.artistityyppi}}</li>
            {% for valtio in valtiot %}
            <li><strong>Maa:</strong> <a href="{{base_path}}/country/{{valtio.valtioid}}">{{valtio.valtionimi}}</a></li>
            {%endfor%}
            <li><strong>Syntymävuosi:</strong> {{artisti.syntymavuosi}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <img style="border-radius: 10px" src="{{base_path}}/images/artists/{{artisti.kuva}}" alt="WIKIPEDIA">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5>Bio</h5>
        <p id="synopsis">
            {{artisti.bio}}
        </p>
    </div>
    <div class="col-md-6">
        <h5>Elokuvat</h5>
        <ul>
            {% for elokuva in elokuvat %}
            <li><a href="{{base_path}}/movie/{{elokuva.leffaid}}"> {{elokuva.leffanimi}}</a></li>
            {%endfor%}
        </ul>
    </div>
</div>

{%endfor%}

{% endblock %}
