{% extends "base.html" %}
{% block content %}

{% for artisti in artistit %}
{% for valtio in valtiot %}

<div class="row">
    <div class="col-md-9"><h2>{{artisti.etunimi}} {{artisti.sukunimi}}</h2></div>
    <div class="col-md-3">
        <button class="btn btn-success">Muokkaa</button>
        <button class="btn btn-danger">Poista</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <ul>
            <li><strong>Maa:</strong> {{valtio.valtionimi}}</li>
            <li><strong>Syntymävuosi:</strong> {{artisti.syntymavuosi}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <p>kuva</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5>Bio</h5>
        <p style="font-family: monospace" id="synopsis">
            {{artisti.bio}}
        </p>
    </div>
    <div class="col-md-6">
        <h5>Elokuvat</h5>
        <ul>
            <li>Y tu Mamá también</li>
        </ul>
    </div>
</div>

{%endfor%}
{%endfor%}

{% endblock %}
