{% extends "base.html" %}
{% block content %}

{% for elokuva in elokuvat %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<div class="row">
    <div class="col-md-6"><h2>{{elokuva.leffanimi}}</h2></div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="listaMenu" data-toggle="dropdown">
                Lisää listalle
                <span class="caret">
                </span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="listaMenu" id="listamenubuttons">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lisää suosikkeihin</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lisää katsottuihin</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lisää MásTarde-listaan</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <form method="post" action="{{base_path}}/movie/destroy/{{elokuva.leffaid}}">
            <a role="button" class="btn btn-info" href="#" >Arvioi/Kommentoi</a>
            <a role="button" class="btn btn-success" href="{{base_path}}/movie/edit/{{elokuva.leffaid}}">Muokkaa</a>
            <button class="btn btn-danger" type="submit" >Poista</button>
        </form>
    </div>

</div>
<br>
<div class="row">
    <div class="col-md-6">
        <ul id="tietolaatikko">
            
            {% if valtiot %}
            {% for valtio in valtiot %}
            <li><strong>Maa:</strong> <a href="{{base_path}}/country/{{valtio.valtioid}}">{{valtio.valtionimi}}</a></li>
            {% endfor %}
            {% endif %}
            
            <li><strong>Julkaisuvuosi:</strong> {{elokuva.vuosi}}</li>
            <li><strong>Kieli:</strong> {{elokuva.kieli}}</li>
            
            {% if genret %}
            <li><strong>Genre:</strong> 
                <ul>
                    {% for genre in genret %}
                    <li>{{genre.genrenimi}}</li>
                    {%endfor%}
                </ul>
            </li>
            {% endif %}
            
            {% if ohjaajat %}
            <li><strong>Ohjaajat:</strong> 
                <ul>
                    {% for ohjaaja in ohjaajat %}
                    <li><a href="{{base_path}}/artist/{{ohjaaja.artistiid}}"> {{ohjaaja.etunimi}} {{ohjaaja.sukunimi}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            {% endif %}
            
            {% if  kasikirjoittajat %}
            <li><strong>Käsikirjoittajat:</strong> 
                <ul>
                    {% for kasikirjoittaja in kasikirjoittajat %}
                    <li><a href="{{base_path}}/artist/{{kasikirjoittaja.artistiid}}"> {{kasikirjoittaja.etunimi}} {{kasikirjoittaja.sukunimi}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            {% endif %}
            
            {% if  kuvaajat %}
            <li><strong>Kuvaajat:</strong> 
                <ul>
                    {% for kuvaaja in kuvaajat %}
                    <li><a href="{{base_path}}/artist/{{kuvaaja.artistiid}}"> {{kuvaaja.etunimi}} {{kuvaaja.sukunimi}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            {% endif %}
            
            {% if nayttelijat %}
            <li><strong>Näyttelijät:</strong>
                <ul>
                    {% for nayttelija in nayttelijat %}
                    <li><a href="{{base_path}}/artist/{{nayttelija.artistiid}}"> {{nayttelija.etunimi}} {{nayttelija.sukunimi}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            {% endif %}
            
            {%if palkinnot %}
            <li><strong>Palkinnot/Ehdokkuudet:</strong> 
                <ul>
                    {% for palkinto in palkinnot %}
                    <li>{{palkinto.palkintonimi}}</li>
                    {%endfor%}
                </ul>
            </li>
            {% endif %}
            {%if sarjanelokuvat %}
            <li><strong>Sarja:</strong>
                <ul>
                    {% for selokuva in sarjanelokuvat %}
                    {% if selokuva.leffaid==elokuva.leffaid %}
                    <li> {{selokuva.leffanimi}}</li>
                    {% else %}
                    <li><a href="{{base_path}}/movie/{{selokuva.leffaid}}"> {{selokuva.leffanimi}}</a></li>
                    {% endif %}
                    {%endfor%}
                </ul>
            </li>
            {% endif %}
        </ul> 
        <br>
        <h5>Synopsis</h5>
        <p style="font-family: monospace" id="synopsis">
            {{elokuva.synopsis}}
        </p>
    </div>
    <div class="col-md-6">
        <h5>Traileri</h5>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="{{elokuva.traileriurl}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6" id="arviointilaatikko">
        <h5>Arviot ja kommentit</h5>
        <ul>
            {% for arvio in arviot %}
            <li>Käyttäjä <i>{{arvio.kayttajatunnus}}</i> antoi <b>{{arvio.tahti}}</b> tähteä</li>
            {%endfor%}
            {% for kommentti in kommentit %}
            <li>Käyttäjä <i>{{kommentti.kayttajatunnus}}</i>: <b>{{kommentti.teksti}}</b></li>
            {%endfor%}
        </ul>
    </div>
    <div class="col-md-6" id="dvdlistaus">
        <h5>Käyttäjät, jotka omistavat DVD:nä</h5>
        <ul>
            {% for dvd in dvdt %}
            <li>{{dvd.kayttajatunnus}}</li>
            {%endfor%}
        </ul>
    </div>
</div>

{% endfor %}

{% endblock %}
