{% extends "base.html" %}
{% block content %}

<h2>Lisää elokuva</h2>
<br>

<form>
    <div class="form-group">
        <label>Elokuvan nimi</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Julkaisuvuosi</label>
        <input type="number" class="form-control">
    </div>
    <div class="dropdown">
        <label>Maa</label>
        <button class="btn btn-default dropdown-toggle" type="button" id="valtioMenu" data-toggle="dropdown">
            ... <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="valtioMenu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Argentina</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Brasilia</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Meksiko</a></li>
        </ul>
    </div>
    <div class="form-group">
        <label>Kieli</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Traileri</label>
        <input type="url" class="form-control">
    </div>
    <div class="form-group">
        <label>Synopsis</label>
        <input type="text" class="form-control">
    </div>
    <button class="btn btn-success"><a href="{{base_path}}/addmovie/addpeople">Seuraava</a></button>
</form>

{% endblock %}
