{% extends "base.html" %}
{% block content %}

{% import "macros/modals.html" as modals %}
{{modals.artist_modal(valtiot, "#{elokuva.leffaid}", "#{base_path}/artistipostisivumuokkaus")}}
{{modals.genre_modal("#{elokuva.leffaid}", "#{base_path}/muokkausuusigenre")}}
{{modals.sarja_modal("#{elokuva.leffaid}", "#{base_path}/muokkausuusisarja")}}

{% import "macros/buttons.html" as buttons %}

<div class="bg">
    
    {% if errors %}
    <div class="alert alert-danger"  style="text-shadow: none">
        <ul>
            {%for error in errors%}
            <li>{{error}}</li>
            {%endfor%}
        </ul>
    </div>
    {% endif %}
    
    <div class="alert alert-success" id="lisatty" style="text-shadow: none"></div>

    <form method="post" action="{{base_path}}/movieeditpage/{{elokuva.leffaid}}" >
        <div class="row">
            <div class="col-md-9"><h2>Elokuvan {{elokuva.leffanimi}} muokkaus</h2></div>
            <div class="col-md-3">
                <a class="btn bg-danger" href="{{base_path}}/movie/{{elokuva.leffaid}}">Peruuta</a>
                <button class="btn btn-success" type="submit" >Tallenna</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nimi</label>
                    <input type="text" class="form-control" value="{{elokuva.leffanimi}}" name="leffanimi">
                </div>
                <div class="form-group">
                    <label>Maa</label>               
                    <select class="form-control" name="valtio">
                        {% for valtio in valtiot %}
                        {% if valtio.valtioid == tamanhetkinenvaltio %}
                        <option value="{{valtio.valtioid}}" selected="selected">{{valtio.valtionimi}}</option>
                        {% else %}
                        <option value="{{valtio.valtioid}}">{{valtio.valtionimi}}</option>
                        {%endif%}
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label>Julkaisuvuosi</label>
                    <input type="text" class="form-control" value="{{elokuva.vuosi}}" name="vuosi">
                </div>
                <div class="form-group">
                    <label>Kieli</label>
                    <input type="text" class="form-control" value="{{elokuva.kieli}}" name="kieli">
                </div>
                <div class="form-group">
                    <label>Genret</label> 
                    {% for genre in genret%}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{genre.genrenimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button  type="button" class="close btn btn-success closegenre" 
                                     aria-label="Close" value="{{genre.genreid}}">Poista
                            </button>
                        </div>
                    </div>
                    {%endfor%}
                    <select class="form-control genrevalinta" multiple="">
                        {%for genre in genretALL %}
                        <option value="{{genre.genreid}}">{{genre.genrenimi}}</option>
                        {%endfor%}
                    </select>
                    {{buttons.add_genres()}}
                </div>
                <div class="form-group">
                    <label>Ohjaajat</label>
                    {%for ohjaaja in ohjaajat%}
                    <div class="input-group">
                        <div class="input-group-addon pari" id="poistettava">{{ohjaaja.etunimi}} {{ohjaaja.sukunimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button  type="button" class="close btn btn-success closeartisti" 
                                     aria-label="Close" value="{{ohjaaja.artistiid}}">Poista
                            </button>
                        </div>
                    </div>
                    {%endfor%}
                    <select class="form-control artistivalinta" multiple="">
                        {% for ohjaaja in ohjaajatALL %}
                        <option value="{{ohjaaja.artistiid}}">{{ohjaaja.etunimi}} {{ohjaaja.sukunimi}}</option>
                        {%endfor%}
                    </select>
                    {{buttons.add_directors()}}
                </div>

                <div class="form-group">
                    <label>Kuvaajat</label>
                    {% for kuvaaja in kuvaajat %}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{kuvaaja.etunimi}} {{kuvaaja.sukunimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button  type="button" class="close btn btn-success closeartisti" 
                                     aria-label="Close" value="{{kuvaaja.artistiid}}">Poista
                            </button>
                        </div>
                    </div>
                    {%endfor%}
                    <select class="form-control artistivalinta" multiple="">
                        {% for kuvaaja in kuvaajatALL %}
                        <option value="{{kuvaaja.artistiid}}">{{kuvaaja.etunimi}} {{kuvaaja.sukunimi}}</option>
                        {%endfor%}
                    </select>
                    {{buttons.add_cinematographers()}}
                </div>

                <div class="form-group">
                    <label>Käsikirjoittajat</label>
                    {% for kassari in kasikirjoittajat %}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{kassari.etunimi}} {{kassari.sukunimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button  type="button" class="close btn btn-success closeartisti" 
                                     aria-label="Close" value="{{kassari.artistiid}}">Poista
                            </button>
                        </div>
                    </div>
                    {%endfor%} 
                    <select class="form-control artistivalinta" multiple="">
                        {% for kassari in kasikirjoittajatALL %}
                        <option value="{{kassari.artistiid}}">{{kassari.etunimi}} {{kassari.sukunimi}}</option>
                        {%endfor%}
                    </select>
                    {{buttons.add_screenwriters()}}
                </div>

                <div class="form-group">
                    <label>Näyttelijät</label>   
                    {% for nayttelija in nayttelijat %}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{nayttelija.etunimi}} {{nayttelija.sukunimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button  type="button" class="close btn btn-success closeartisti" 
                                     aria-label="Close" value="{{nayttelija.artistiid}}">Poista
                            </button>
                        </div>
                    </div>
                    {%endfor%} 
                    <select class="form-control artistivalinta" multiple="">
                        {% for nayttelija in nayttelijatALL %}
                        <option value="{{nayttelija.artistiid}}">{{nayttelija.etunimi}} {{nayttelija.sukunimi}}</option>
                        {%endfor%}
                    </select>
                    {{buttons.add_actors()}}
                </div>
                <div class="form-group">
                    <label>Sarjat</label> 
                    {% for sarja in sarjat%}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{sarja.sarjanimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button  type="button" class="close btn btn-success closesarja" 
                                     aria-label="Close" value="{{sarja.sarjaid}}">Poista
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                    <select class="form-control sarjavalinta" multiple="">
                        {% for sarja in sarjatALL %}
                        <option value="{{sarja.sarjaid}}">{{sarja.sarjanimi}}</option>
                        {%endfor%}
                    </select>  
                    {{buttons.add_series()}}
                </div>
                <div class="form-group">
                    <label>Traileri 
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" 
                              data-placement="top" title="Osoite upotettavassa (embed) muodossa"></span>
                    </label>
                    <input type="text" class="form-control" value="{{elokuva.traileriurl}}" name="traileriurl">
                </div>
                <div class="form-group">
                    <label>Synopsis</label>
                    <textarea class="form-group" style="font-family: monospace" 
                              id="tekstiboxi" name="synopsis">{{elokuva.synopsis}}</textarea>
                </div>
            </div>
        </div>
        <input type="hidden" id="poistettavatartistit" name="poistettavatartistit">
        <input type="hidden" id="poistettavatgenret" name="poistettavatgenret">
        <input type="hidden" id="poistettavatsarjat" name="poistettavatsarjat">
        <input type="hidden" name="artistilista" id="hidd"/>
        <input type="hidden" name="genrelista" id="hiddgenre"/>
        <input type="hidden" name="sarjalista" id="hiddsarja"/>
    </form>
</div>
{% endblock %}
