{% extends "base.html" %}
{% block content %}

<h2>Lisää elokuva</h2>
<br>

<form method="post" action="{{base_path}}/addmovie/addpeople">
    <div class="form-group">
        <label>Elokuvan nimi</label>
        <input type="text" name="leffanimi" class="form-control">
    </div>
    <div class="form-group">
        <label>Julkaisuvuosi</label>
        <input type="number" name="vuosi" class="form-control">
    </div>
    <div class="dropdown">
        <label>Maa</label>
        <select class="form-control" name="valtio">
            {%for valtio in valtiot%}
            <option>{{valtio.valtionimi}}</option>
            {%endfor%}
        </select>
    </div>
    <br>
    <div class="form-group">
        <label>Kieli</label>
        <input type="text" name="kieli" class="form-control">
    </div>
    <div class="form-group">
        <label>Traileri</label>
        <input type="url" name="traileriurl" class="form-control">
    </div>
    <div class="form-group">
        <label>Synopsis</label>
        <input type="text" name="synopsis" class="form-control">
    </div>
    <div class="form-group">       
        <button type="submit" class="btn btn-success"><a href="{{base_path}}/addmovie/addpeople">Seuraava</a></button>
    </div>
</form>

{% endblock %}
