{% extends "base.html" %}
{% block content %}

<h3>Lisää elokuvan ohjaajat, kuvaajat, käsikirjoittajat, näyttelijät ja genret</h3>
<br>

<div class="col-md-6" style>
    <form>
        <div class="dropdown">
            <label>Ohjaajat</label>
            <button class="btn btn-default dropdown-toggle" type="button" id="ohjaajaMenu" data-toggle="dropdown">
                ... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="ohjaajaMenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Alejandro González Iñárritu</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Luis Buñuel Portolés</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Alfonso Cuarón Orozco</a></li>
            </ul>
        </div>
        <br>
        <div class="dropdown">
            <label>Kuvaajat</label>
            <button class="btn btn-default dropdown-toggle" type="button" id="kuvaajaMenu" data-toggle="dropdown">
                ... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="kuvaajaMenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Emmanuel Lubezki Morgenstern</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rodrigo Prieto</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Enrique Aular</a></li>
            </ul>
        </div>
        <br>
        <div class="dropdown">
            <label>Käsikirjoittajat</label>
            <button class="btn btn-default dropdown-toggle" type="button" id="kassariMenu" data-toggle="dropdown">
                ... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="kassariMenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Armando Bó Jr</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Miguel Ferrari</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Guillermo del Toro Gómez</a></li>
            </ul>
        </div>
        <br>
        <div class="dropdown">
            <label>Näyttelijät</label>
            <button class="btn btn-default dropdown-toggle" type="button" id="nayttelijaMenu" data-toggle="dropdown">
                ...  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="nayttelijaMenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Demián Bichir Nájera</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Diego Luna Alexander</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sofía Vergara Vergara</a></li>
            </ul>
        </div>
        <br>
        <div class="dropdown">
            <label>Genret</label>
            <button class="btn btn-default dropdown-toggle" type="button" id="genreMenu" data-toggle="dropdown">
                ...  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="genreMenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Draama</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Trilleri</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Romantiikka</a></li>
            </ul>
        </div>
        <br>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                Kuuluu sarjaan
            </label>
        </div>
        <div class="dropdown">
            <label>Sarjat</label>
            <button class="btn btn-default dropdown-toggle" type="button" id="sarjaMenu" data-toggle="dropdown">
                ... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="sarjaMenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">La Trilogía de la muerte</a></li>
            </ul>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Lisää</button>
    </form>
</div>


{% endblock %}

