{% extends "base.html" %}
{% block content %}

<div class="bg">

    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {%for error in errors%}
            <li>{{error}}</li>
            {%endfor%}
        </ul>
    </div>
    {% endif %}

    <form method="post" action="{{base_path}}/movieeditpage/{{elokuva.leffaid}}" >
        <div class="row">
            <div class="col-md-9"><h2>Elokuvan {{elokuva.leffanimi}} muokkaus</h2></div>
            <div class="col-md-3">
                <a class="btn bg-danger" href="{{base_path}}/movie/{{elokuva.leffaid}}">Peruuta</a>
                <button class="btn btn-success" type="submit" >Tallenna</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nimi</label>
                    <input type="text" class="form-control" value="{{elokuva.leffanimi}}" name="leffanimi">
                </div>
                <div class="form-group">
                    <label>Maa</label>               
                    <select class="form-control" name="valtio">
                        {% for valtio in valtiot %}
                        {% if valtio.valtioid == tamanhetkinenvaltio %}
                        <option>moi</option>
                        <option value="{{valtio.valtioid}}" selected="selected">{{valtio.valtionimi}}</option>
                        {% else %}
                        <option value="{{valtio.valtioid}}">{{valtio.valtionimi}}</option>
                        {%endif%}
                        {%endfor%}
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label>Julkaisuvuosi</label>
                    <input type="text" class="form-control" value="{{elokuva.vuosi}}" name="vuosi">
                </div>
                <div class="form-group">
                    <label>Kieli</label>
                    <input type="text" class="form-control" value="{{elokuva.kieli}}" name="kieli">
                </div>
                <div class="form-group">
                    <label>Genret</label> 
                    {% for genre in genret%}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{genre.genrenimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;
                                </span>
                            </button>
                        </div>
                    </div>
                    {%endfor%}               
                </div>
                <div class="form-group">
                    <label>Ohjaajat</label>
                    {%for ohjaaja in ohjaajat%}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{ohjaaja.etunimi}} {{ohjaaja.sukunimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;
                                </span>
                            </button>
                        </div>
                    </div>
                    {%endfor%} 
                </div>

                <div class="form-group">
                    <label>Kuvaajat</label>
                    {% for kuvaaja in kuvaajat %}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{kuvaaja.etunimi}} {{kuvaaja.sukunimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;
                                </span>
                            </button>
                        </div>
                    </div>
                    {%endfor%} 
                </div>

                <div class="form-group">
                    <label>Käsikirjoittajat</label>
                    {% for kassari in kasikirjoittajat %}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{kassari.etunimi}} {{kassari.sukunimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;
                                </span>
                            </button>
                        </div>
                    </div>
                    {%endfor%} 
                </div>

                <div class="form-group">
                    <label>Näyttelijät</label>   
                    {% for nayttelija in nayttelijat %}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{nayttelija.etunimi}} {{nayttelija.sukunimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;
                                </span>
                            </button>
                        </div>
                    </div>
                    {%endfor%} 
                </div>
                <div class="form-group">
                    <label>Palkinnot</label> 
                    {% for palkinto in palkinnot%}
                    <div class="input-group">
                        <div class="input-group-addon" id="poistettava">{{palkinto.palkintonimi}}</div>
                        <div class="input-group-addon" id="poistettava">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;
                                </span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Traileri</label>
                    <input type="text" class="form-control" value="{{elokuva.traileriurl}}" name="traileriurl">
                </div>
                <div class="form-group">
                    <label>Synopsis</label>
                    <textarea class="form-group" style="font-family: monospace" id="synopsisteksti" name="synopsis">{{elokuva.synopsis}}
                    </textarea>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
