{% extends "base.html" %}
{% block content %}

{% for elokuva in elokuvat %}
{% for valtio in valtiot %}

<div class="row">
    <div class="col-md-6"><h2>{{elokuva.leffanimi}}</h2></div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="listaMenu" data-toggle="dropdown">
                Lisää listalle
                <span class="caret">
                </span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="listaMenu" id="listamenubuttons">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lisää suosikkeihin</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lisää katsottuihin</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lisää MásTarde-listaan</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <button class="btn btn-info">Arvioi/Kommentoi</button>
        <button class="btn btn-success"><a href="{{base_path}}/movie/edit">Muokkaa</a></button>
        <button class="btn btn-danger">Poista</button>
    </div>

</div>
<br>
<div class="row">
    <div class="col-md-6">
        <ul id="tietolaatikko">
            <li><strong>Maa:</strong> {{valtio.valtionimi}}</li>
            <li><strong>Julkaisuvuosi:</strong> {{elokuva.vuosi}}</li>
            <li><strong>Kieli:</strong> {{elokuva.kieli}}</li>
            <li><strong>Genre:</strong> 
                <ul>
                    {% for genre in genret %}
                    <li>{{genre.genrenimi}}</li>
                    {%endfor%}
                </ul>
            </li>
            <li><strong>Ohjaajat:</strong> 
                <ul>
                    {% for ohjaaja in ohjaajat %}
                    <li><a href="{{base_path}}/artist/{{ohjaaja.artistiid}}"> {{ohjaaja.etunimi}} {{ohjaaja.sukunimi}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            <li><strong>Käsikirjoittajat:</strong> 
                <ul>
                    {% for kasikirjoittaja in kasikirjoittajat %}
                    <li><a href="{{base_path}}/artist/{{kasikirjoittaja.artistiid}}"> {{kasikirjoittaja.etunimi}} {{kasikirjoittaja.sukunimi}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            <li><strong>Kuvaajat:</strong> 
                <ul>
                    {% for kuvaaja in kuvaajat %}
                    <li><a href="{{base_path}}/artist/{{kuvaaja.artistiid}}"> {{kuvaaja.etunimi}} {{kuvaaja.sukunimi}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            <li><strong>Näyttelijät:</strong>
                <ul>
                    {% for nayttelija in nayttelijat %}
                    <li><a href="{{base_path}}/artist/{{nayttelija.artistiid}}"> {{nayttelija.etunimi}} {{nayttelija.sukunimi}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            <li><strong>Palkinnot/Ehdokkuudet:</strong> 
                <ul>
                    {% for palkinto in palkinnot %}
                    <li>{{palkinto.palkintonimi}}</li>
                    {%endfor%}
                </ul>
            </li>
        </ul>
        <br>
        <h5>Synopsis</h5>
        <p style="font-family: monospace" id="synopsis">
            {{elokuva.synopsis}}
        </p>
    </div>
    <div class="col-md-6">
        <h5>Traileri</h5>
        <div class="embed-responsive-16by9">
            {{elokuva.traileriurl}}
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6" id="arviointilaatikko">
        <h5>Arviot ja kommentit</h5>
        <ul>
            {% for arvio in arviot %}
            <li>Käyttäjä <i>{{arvio.kayttajatunnus}}</i> antoi <b>{{arvio.tahti}}</b> tähteä</li>
            {%endfor%}
        </ul>
    </div>
    <div class="col-md-6" id="dvdlistaus">
        <h5>Käyttäjät, jotka omistavat DVD:nä</h5>
        <ul>
            {% for dvd in dvdt %}
            <li>{{dvd.kayttajatunnus}}</li>
            {%endfor%}
        </ul>
    </div>
</div>

{% endfor %}
{% endfor %}

{% endblock %}
